*{
    margin: 0;
    padding: 0;
}

a{
    color:#ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.1s ease-in;
    font-weight: 700;
}

nav{
    display: flex;
    padding: 0 2rem;
    justify-content:space-between;
    align-items: center;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 10vh;
    z-index: 9999;
}

.scrollnav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
   
}

.menu-list{
    display: flex;
    list-style: none;
    font-weight: 400;
}

.menu-list li{
    margin-left: 1.2rem;
    letter-spacing: 2px;
}

header{
    background-image: url('../images/bg-banner.png');
    background-color: #0ef193; 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.corbgh-one{background-color: #ff7b2e; background-blend-mode: multiply;}
.corbgh-two{background-color: #1087d6; background-blend-mode: multiply;}
.corbgh-three{background-color: #019c54; background-blend-mode: multiply;}
.corbgh-four{background-color: #da0d2f; background-blend-mode: multiply;}
.corbgh-five{background-color: #9422ff; background-blend-mode: multiply;}

.header-text{
    font-family: Roboto, sans-serif;
    color: #ffffff;
    width: 45vw;
    margin: 6vw 6vw;
    float: left;
}

.header-text h1{
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2em;
}

.header-text p{
    font-size: 1.5vw;
    margin-top: 2vw;
    letter-spacing: .1rem;
}

.btn-header{
    background-color: #4CAF50;
    display: block;
    padding: 1rem 2rem;
    border: transparent;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
}

main{
    width: 100%;
}

.menu-mobile{
    display: none;
    cursor: pointer;
}

/*btn color*/
.btn-green{
    background-color: #4CAF50; /* Green */
    color: white;
}

.btn-yellow{
    background-color: #ffd000; /* Yellow */
    color: white;
}

.btn-blue{
    background-color: #00c3ff; /* Blue */
    color: white;
}

.btn-grey{
    background-color: #dddddd;
    color: #333;
}

.btn-indigo{
    background-color: indigo;
    color: white;
}

/* Card */
.card-container{
    background-color: #ffffff;
    padding: 2rem 2em;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 4%;
    right: 4%;
    width: auto;
    height: auto;
    z-index: 2;
}

.card-btnf{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -65px;
    left: -9px;
}

.card-titulo{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6vw;
    text-decoration: none;
    color: rgb(47, 27, 53);
}

.form{
    padding: 0;
    margin: 0;
}

.form-row{
    display: flex;
    flex-direction: row;
}

input[type=text], select, textarea{
    width: 20%;
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-right: 1em;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: #eee;
}

select:focus {
    background-color: #eee;
    border: none;
}

.btn-item{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6vw;
    margin-left: 0.4em;
    cursor: pointer;
}

.btn-item:hover{
    opacity: 0.8;
}

.dropdown{
    background-color: #333;
    position: absolute;
    top: 8vh;
    border-radius: .3rem;
    padding-top: .5rem;
    padding-bottom: .8rem;
    padding-right: 1.3rem;
    display: none;
}

.dropdown .li-dropdown{
    list-style: none;
    position: relative;
    line-height: 2.5rem;
    letter-spacing: 0px !important;
}

.tms{font-size: 12px; margin-left: 5px;}

@media screen and (max-width: 960px){
    a{ color: #ffffff; }

    .menu-mobile{
        display: block;
        z-index: 9999;
        color: #ffffff;
    }

    .menu-list{
        background-color:rgb(47, 27, 53);
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 99;
    }

    .menu-list li{
        margin: 5vh 0;
    }

    .dropdown-li{
        display: block;
        list-style: none;
    }

    .tms{font-size: 10px;}

    .card-container{
        z-index: 1;
    }

    .header-text{
        width: 100%;
        margin: 500px auto 0 auto;
        float: none;
        margin-top: 4vh;
    }

    .header-text h1{
        font-size: 6vw;
        font-weight: 700;
        line-height: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    
    .header-text p{
        font-size: 2.5vw;
        margin-top: 1vw;
        letter-spacing: .1rem;
        line-height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .btn-header{
       background-color: #00c3ff;
       padding: 1rem 3rem;
       margin: 0 auto;
    }
}

@media (max-width: 414px){

    .header-text{
        width: 100%;
        margin: 500px auto 0 auto;
        float: none;
        margin-top: 12vh;
    }

    .header-text h1{
        font-size: 8vw;
        font-weight: 700;
        line-height: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    
    .header-text p{
        font-size: 4vw;
        margin-top: 1vw;
        letter-spacing: .1rem;
        line-height: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .btn-header{
        background-color: #ff0000;
        padding: 1rem 3rem;
        margin: 0 auto;
     }
}





